/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */




/* Write css code for desktop screen */
@media screen and (min-width: 1200px) {
  .header:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 2160" width="1920" height="2160"><defs><pattern id="p" width="240" height="240" patternUnits="userSpaceOnUse"><circle cx="80" cy="80" r="80" fill="%23d2e3fc" /></pattern></defs><rect fill="url(%23p)" width="1920" height="2160" /></svg>');
    background-repeat: no-repeat;
    /* add style to make this background blur */
    filter: blur(20px);
    height: 2560px;
    /* width: 2220px; */
    /* Calculate width based on size of screen */
    width: calc(100% );
    /* min-width: 1200px; */
    content: "";
    inset: calc((100% - 2160px) / 2) calc((100% - 1920px) / 2);
    position: absolute;
    inset: auto auto 0 20%;
    transform: perspective(900px) rotateX(40deg);
    transform-origin: bottom center;
  }
}
@media screen and (min-width: 1024px) {
  .header:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 2160" width="1024" height="2160"><defs><pattern id="p" width="240" height="240" patternUnits="userSpaceOnUse"><circle cx="80" cy="80" r="80" fill="%23d2e3fc" /></pattern></defs><rect fill="url(%23p)" width="1920" height="2160" /></svg>') !important;
    background-repeat: repeat !important;
    filter: blur(15px) !important;
    height: 1900px !important;
    width: 1404px !important;
    content: "" !important;
    inset: calc((100% - 2160px) / 2) calc((100% - 1920px) / 2);
    position: absolute !important;
    inset: auto auto 0% 50% !important;
    transform: perspective(2000px) rotateX(45deg) !important;
    transform-origin: bottom right !important;
  }
}
/* for Talet screen wrtie */
@media screen and (min-width: 768px ) {
  .header:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 2160" width="768" height="2160"><defs><pattern id="p" width="240" height="240" patternUnits="userSpaceOnUse"><circle cx="80" cy="80" r="80" fill="%23d2e3fc" /></pattern></defs><rect fill="url(%23p)" width="1920" height="2160" /></svg>');
    background-repeat: no-repeat;
    filter: blur(20px);
    height: 1590px;
    width: 768px;
    content: "";
    inset: calc((100% - 2160px) / 2) calc((100% - 1920px) / 2);
    position: absolute;
    inset: auto auto 0% 6%;
    transform: perspective(900px) rotateX(38deg);
    transform-origin: bottom right;
  }
}

@media screen and (max-width: 768px ) {
  .header:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 2160" width="768" height="2160"><defs><pattern id="p" width="240" height="240" patternUnits="userSpaceOnUse"><circle cx="80" cy="80" r="80" fill="%23d2e3fc" /></pattern></defs><rect fill="url(%23p)" width="1920" height="2160" /></svg>');
    background-repeat: no-repeat;
    filter: blur(20px);
    height: 1690px;
    width: 230px;
    content: "";
    inset: calc((100% - 2160px) / 2) calc((100% - 1920px) / 2);
    position: absolute;
    inset: auto auto 3% 46% !important;
    transform: perspective(1133px) rotateX(46deg);
    transform-origin: bottom right;
    object-fit: contain;
  }
}